<div class="footer container hidden-xs">
    <ul class="footInner">
        <li class="footTittle">Contact us</li>
        <li class="footLi">
            <span class="iconfont icon-shouji"> </span>
            <a class="footText" href="javascript:void(0)">+1（917）868-6762</a>
        </li>
        <li class="footLi">
            <span class="iconfont icon-youxiang"> </span>
            <a class="footText" href="javascript:void(0)">Support@Zteachers.com</a>
        </li>
        <li class="footLi">
            <span class="iconfont icon-weixin"> </span>
            <a class="footText" href="javascript:void(0)">Z_Teachers</a>
        </li>
    </ul>
    <div class="footInner2">
        <div class="footTittle">关于我们</div>
        <div class="intro">
            Z Study Inc. 是一家拥有自主知识产权的美国教育培训服务公司，拥有多年的出国教育培训、学校课程开发和留学指导经验。
            目前中国的国际教育......
        </div>
        <div style="clear: both"></div>
        <a href="" class="moreBottom">了解更多</a>
    </div>
    <div style="clear: both"></div>
    <div class="copyright">
        <span>Copyright © 2019, Z Study Inc.</span>
        <a style="display: block;float: right;color: #ffffff" href="javascript:void(0)">法律声明及隐私权政策·知识产权 </a>
    </div>
</div>
<div  class="footer-m hidden-lg hidden-md hidden-sm">
    <a href="index.html" class="footer-mBtn index">
        <span class="iconfont icon-shouye1"> </span>
        <span class="bottomText">首页</span>
    </a>
    <a href="hiring.html" class="footer-mBtn hiring">
        <span class="iconfont icon-kejiqiyefuhuaqipinrenchuangyedaoshipeitaobutie"> </span>
        <span class="bottomText">聘请</span>
    </a>
    <a href="publish.html" class="footer-mBtn publish">
        <span class="iconfont icon-zhaopin-copy"> </span>
        <span class="bottomText">发布</span>
    </a>
    <a href="talentPool.html" class="footer-mBtn talentPool">
        <span class="iconfont icon-zhaopin2"> </span>
        <span class="bottomText">人才库</span>
    </a>
    <a href="contactUs.html" class="footer-mBtn contactUs">
        <span class="iconfont icon-lianxi"> </span>
        <span class="bottomText">联系</span>
    </a>
</div>