.inputWarp {
    width: 100%;
    height: 57px;
    margin-bottom: 30px;
}

.leftTittle {
    display: block;
    float: left;
    width: 30%;
    height: 57px;
    text-align: right;
    padding-right: 2%;
    line-height: 57px;
}


.form {
    max-width: 850px;
}

.inputBox , .selectWarp .layui-input, .layui-textarea {
    width: 52%;
    height: 57px;
    float: left;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px #cccccc;
    padding-left: 4px;
    position: relative;
    margin-left: 0;
}
.layui-form-radio {
    line-height: 57px;
    margin: 0;
    padding-right: 10px;
    cursor: pointer;
    font-size: 0;
}
.layui-form-radio>i:hover, .layui-form-radioed>i{
    color: #969dd3;
}
.submit {
    display: block;
    width: 52%;
    height: 60px;
    float: left;
    margin-left: 30%;
    background-color: #969dd3;
    border-radius: 5px;
    font-family: ArialMT;
    font-size: 28px;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
    border: none;
    outline: none;
    margin-top: 30px;
}
.form  .address , .address .form-control{
    display: block;
    width: 33%;
    float: left;
    height: 100%;
    border: none;
    outline: none;
    margin-bottom: 0;
}


.main{
    padding-top: 200px;
}
.layui-form-checked span, .layui-form-checked:hover span {
    background-color: #969dd3;
}

.layui-form-checked i, .layui-form-checked:hover i {
    color: #969dd3;
}

.layui-form-select dl dd.layui-this {
    background-color: #969dd3;
    color: #fff;
}
.layui-form-checkbox span {
    padding: 0 5px;
    display: block;
    float: left;
    width: 70%;
}

.layui-form-checkbox i {
    position: relative;
    width: 23px;
    height: 30px;
}
.titleBox{
    width: 100%;
    height: 60px;
    border-bottom:solid 1px #e8e7e6;
    font-family: SourceHanSansCN-Medium;
    font-size: 22px;
    color: #969dd3;
    margin-bottom: 38px;
}
.verificationCodeInput{
    width: 25%;
}
.verificationCodeWarp{
    width: 25%;
    float: left;
    height: 100%;
    padding-left: 30px;
    line-height: 57px;
    position: relative;
}
.verificationCodeWarp img{
    display: block;
    width: 60%;
    height: auto;
    float: left;
    max-height: 100%;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.verificationCodeWarp span{
    display: block;
    width: 40%;
    float: right;
    text-align: center;
}
.verificationCodeBtn {
    display: block;
    width: 20%;
    height: 100%;
    background-color: #969dd3;
    border-radius: 5px;
    float: left;
    text-align: center;
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    line-height: 57px;
    color: #ffffff;
    margin-left: 7%;
    border: none;
    outline: none;
}
@media (max-width: 767px ) {
    .main{
        padding-top:50px;
    }
    .topBarM{
        width: 100%;
        height: 44px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #f7f7f7;
        z-index: 9999;
        padding: 0 15px;
    }
    .topBarM .text{
        width: 100%;
        height:100%;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        line-height: 44px;
        color: #333333;
        text-align: center;
    }
    .back {
        display: block;
        width: 31px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        line-height: 44px;
        color: #333333;
        font-size: 24px;
    }
    .innerTitle{
        height: 32px;
        font-size: 15px;
        line-height: 32px;
        padding: 0 15px;
    }
    .titleBox{
        font-family: SourceHanSansCN-Medium;
        font-size: 14px;
        color: #333333;
    }
    .titleBox {
        font-family: SourceHanSansCN-Medium;
        font-size: 14px;
        color: #333333;
        margin-bottom: 0;
        border: none;
        line-height: 46px;
    }
    .inputWarp {
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
    }
    .leftTittle {
        width: 30%;
        height: 30px;
        line-height: 30px;
    }
    .inputBox, .selectWarp .layui-input, .layui-textarea {
        height: 30px;
        width: 60%;
    }
    .layui-form-radio {
        line-height: 30px;
    }
    .tittleLang{
        line-height: 17px;
    }
    .verificationCodeInput{
        width: 25%;
    }
    .layui-fixbar{
        display: none;
    }
    .verificationCodeWarp {
        width: 36%;
        line-height: 30px;
        position: relative;
    }
    .verificationCodeWarp img{
        left: 4%;
    }
    .submit{
        width: 70%;
        height: 32px;
        font-family: SourceHanSansCN-Medium;
        font-size: 14px;
        line-height: 32px;
        color: #ffffff;
        float: none;
        margin: 20px auto;
    }
    .verificationCodeBtn {
        display: block;
        width: 34%;
        height: 100%;
        background-color: #969dd3;
        border-radius: 5px;
        float: left;
        text-align: center;
        font-family: SourceHanSansCN-Regular;
        font-size: 12px;
        line-height: 30px;
        color: #ffffff;
        margin-left: 1%;
        border: none;
        outline: none;
    }
    .linh15{
        line-height: 15px;
    }
}
@media ( max-width: 360px){
    .sTitle{
        line-height: 17px;
    }
    .verificationCodeWarp span {
        width: 42%;
    }
}

@media(max-width: 767px){
    .verificationCodeWarp img {
        display: block;
        width: 100%;
        height: auto;
        float: left;
        max-height: 100%;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    .verificationCodeWarp {
        width: 25%;
        float: left;
        height: 100%;
        padding-left: 0;
        line-height: 57px;
        position: relative;
    }
}